<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap-4.0.0/dist/css/bootstrap.min.css"
  </head>
  <body>
    <embed id = "hat" autostart = "false" src = "../musics/wavefile_short.mp3"/>
  </body>
</html>
